body {
    background: #f6f6f6;
    padding-bottom: 100px;
}

#schedule-heading {
    margin: 120px 215px 0px;
    background-color: #fff;
    height: 160px;
    border: 1px solid #dfdfdf
}

#schedule-heading .logo-box {
    margin: -46px -10px 0px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #dfdfdf;
}

#schedule-heading h6 {
    padding: 55px 0px 0px 15px;
}

#schedule-heading a {
    background-color: #007bff;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 5px;
    text-decoration: underline;
}